<div class="container-fluid">
  <div class="well">
    <h2 id="title">Welcome to Fourposter</h2>
    <p>A try to create a simple blog engine with Ember 2.0</p>
    <button type="button" class="btn btn-success">OK</button>

    {{outlet}}

  </div>
</div>
